*.rar
data/*
*.pkl
*.npy
*.zip
*/Keras-Learning-Notes/*
*.mp4
*/.ipynb_checkpoints/*
.ipynb_checkpoints
*.pyc
*.csv
Submissions/*
Submissions
cnn_finetune/*
cnn_finetune
capsnetkeras/*
capsnetkeras
*.h
*.h5
__pycache__/*
__pycache__
*.ini
keras-resnet/*
keras-resnet
